{% extends "app/base.html"%}

{% block titulo %}Listado de Usuarios{% endblock %}

{% block contenido %}

<div class="container mt-5">
    <h1>Listado de  Usuarios</h1>
    <hr>

    <table id="tabla-datatable" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
           

            {% for usuario in usuarios %}

            <tr>
                <td>{{usuario.id}}</td>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.username}}</td>
                <td>{{usuario.email}}</td>
                <td>
                    <button 
                        data-url="{% url 'usuarios:eliminar_ajax' id=usuario.id %}" 
                        class="btn btn-sm btn-danger btnMostrarModal"
                    >
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <a 
                        href="{% url 'usuarios:eliminar' id=usuario.id %}" 
                        class="btn btn-sm btn-warning"
                    >
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'usuarios:editar' id=usuario.id %}" class="btn btn-sm btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a href="{% url 'usuarios:editar_forms' id=usuario.id %}" class="btn btn-sm btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>FORMS</a>
                </td>
            </tr>

            {% endfor %}

        
        </tbody>
    </table>

    <a href="{% url 'usuarios:agregar' %}" class="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i> Añadir Registro</a>
    <a href="{% url 'usuarios:agregar_forms' %}" class="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i> Añadir Registro FORMS</a>

</div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ELIMINANDO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Seguro que quieres eliminar este registro?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" id="btnEliminar" data-url="" >Eliminar!</button>
        </div>
      </div>
    </div>
  </div>



{% endblock %}

{% block scripts %}

<script>
    $(".btnMostrarModal").click(function(){

        const url = $(this).data("url");
        
        $("#btnEliminar").attr("data-url",url);

        $("#exampleModal").modal("show");

    });

    $("#btnEliminar").click(function(){

        const url = $("#btnEliminar").attr("data-url");

        $.get(url, function(data, status){
            toastr.success("ELIMINADO");
            location.reload();
        });
    });


    $(document).ready( function () {

        let htmlDataTable = "<'row'<'col-sm-12 col-md-8'lB><'col-sm-12 col-md-4'f>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>";

        $('#tabla-datatable').DataTable(
            {
                language: {
                    url: "https://cdn.datatables.net/plug-ins/1.11.4/i18n/es-cl.json"
                },
                responsive: true,
                dom: htmlDataTable,
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            }
        );

        
    } );
</script>

{% endblock %}