{% extends "app/base.html"%}

{% block titulo %}BIENVENIDA{% endblock %}

{% block contenido %}

<div class="container mt-5">
    <h1>Médicos</h1>
    <hr>
    <ul>
        {% for medico in medicos %}

        <li> <a href="{% url 'medicos:editar' id=medico.id %}"> {{medico}} - {{medico.get_especialidad_display}} </a></li>

        {% empty %}
            <p>No existen medicos por ahora</p>
        {% endfor%}
    </ul>
    <hr>

    <div class="row">

        <div class="col-6">
            <form action="" method="post">
            
                {% csrf_token %}
                {{ formModel.non_field_errors }}

                {% for field in formModel %}
                <div class="mb-3 row">

                    <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col-sm-9">
                        {{ field }}
                    </div>

                    {% if field.errors %}

                    <div class="alert alert-danger mt-2" role="alert">
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>

                    {% endif %}

                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}

                <button class="btn btn-primary offset-3" type="submit">Enviar</button>
            </form>
        </div>

    </div>


</div>


{% endblock %}
